$black: #000;
$black1: #303030;
$black2: #283136;
$black4: #4d4d4d;
$black5: #444444;
$black-shadow: rgba(0, 0, 0, 0.1);
$black-shadow2: rgb(63, 63, 63);
$white: #fff;
$white2: rgba(255, 255, 255, 0.3);
$red: #fb565a;
$red2: #e74246;
$red3: #d7373b;
$red4: rgba(215, 55, 59, 1);
$grey: #a6a6a6;
$grey2: #eeeeee;
$grey3: #c1c1c1;
$grey4: #666666;
$grey5: #b4b9bb;
$grey6: #d7dcde;
$grey7: #e1e1e1;
$grey8: #ababab;
$grey9: #cccdcd;
$grey10: #b8b8b8;
$grey11: #e5e5e5;
$grey12: #666666;
$grey13: #b2b2b2;
$grey14: #dbdbdb;
$grey15: #dfdfdf;
$grey16: #d5d5d5;
$grey17: #959595;
$grey18: #bfbfbf;
$green: #00ca74;
$green2: #00bc6c;
$green3: #00aa62;
$yellow: #efc84a;
$yellow2: #eab534;
$yellow3: #e5a722;